[workspace]
name = "pytorch-pixi"
channels = ["conda-forge"]
platforms = ["linux-64"]

[activation]
env = { PYTHONNOUSERSITE = "1", LD_LIBRARY_PATH = "$CONDA_PREFIX/lib" }

[dependencies]
python = "3.10.*"
numpy = "*"
pillow = "*"
matplotlib = "*"
onnx = "*"
pyqt6 = "*"
kornia = "*"
tqdm = "*"
scipy = "*"

[pypi-dependencies]
opencv-contrib-python = ">=4.8"
evo = "*"

[feature.gpu.system-requirements]
cuda = "12.0" 

[feature.gpu.dependencies]
cuda-version = "12.*" 
pytorch-gpu = "*"
torchvision = "*"

[feature.gpu.pypi-dependencies]
onnxruntime-gpu = "*" 

[feature.cpu.dependencies]
pytorch-cpu = "*"
torchvision = "*"
onnxruntime = "*"

[environments]
default = ["gpu"]
cpu = ["cpu"]
