[workspace]
name = "pytorch-pixi"
channels = ["conda-forge"]
platforms = ["linux-64"]

[activation]
env = { PYTHONNOUSERSITE = "1", LD_LIBRARY_PATH = "$CONDA_PREFIX/lib" }

[tasks]
check = "bash script/check.sh"
test-torch = "python script/test_torch_cuda.py"
test-onnx = "python script/test_ort_cuda.py"
link-opencv = "bash script/link_opencv.sh"

[dependencies]
python = "3.10.*"
numpy = "*"
pillow = "*"
matplotlib = "*"
onnx = "*"
pyqt6 = "*"
kornia = "*"
tqdm = "*"
scipy = "*"

[pypi-dependencies]
# --- OPTION 1: Standard CPU (Uncomment for portability) ---
# opencv-contrib-python = ">=4.8"

# --- OPTION 2: System CUDA
# use pixi run link-opencv
evo = "*"

[feature.gpu.system-requirements]
cuda = "12.0" 

[feature.gpu.dependencies]
cuda-version = "12.*" 
pytorch-gpu = "*"
torchvision = "*"

[feature.gpu.pypi-dependencies]
onnxruntime-gpu = "*" 

[feature.cpu.dependencies]
pytorch-cpu = "*"
torchvision = "*"
onnxruntime = "*"

[environments]
default = ["gpu"]
cpu = ["cpu"]
